@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(161 69% 99%);
    --foreground: hsl(161 57% 5%);
    --card: hsl(161 69% 99%);
    --card-foreground: hsl(161 57% 5%);
    --popover: hsl(161 69% 99%);
    --popover-foreground: hsl(161 57% 5%);
    --primary: hsl(160.99 94% 30%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(158.01 4% 86%);
    --secondary-foreground: hsl(156 50% 25%);
    --muted: hsl(161 30% 88%);
    --muted-foreground: hsl(161 6% 33%);
    --accent: hsl(161 11% 86%);
    --accent-foreground: hsl(161.01 11% 26%);
    --destructive: hsl(3 85% 58%);
    --destructive-foreground: hsl(16 100% 95%);
    --border: hsl(158.01 17% 88%);
    --input: hsl(158.01 17% 88%);
    --ring: hsl(160.99 94% 30%);
    --radius: 0.5rem;
  }

  .dark:root {
    --background: hsl(223.81 0% 2%);
    --foreground: hsl(161.03 2% 73%);
    --card: hsl(223.81 0% 2%);
    --card-foreground: hsl(161.03 2% 73%);
    --popover: hsl(223.81 0% 2%);
    --popover-foreground: hsl(161.03 2% 73%);
    --primary: hsl(160.99 94% 30%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(153.72 99% 5%);
    --secondary-foreground: hsl(161 1% 71%);
    --muted: hsl(161 30% 12%);
    --muted-foreground: hsl(161 6% 67%);
    --accent: hsl(161 40% 8%);
    --accent-foreground: hsl(144.34 39% 92%);
    --destructive: hsl(4.45 100% 50%);
    --destructive-foreground: hsl(150, 10%, 98%);
    --border: hsl(161.35 14% 6%);
    --input: hsl(161.35 14% 6%);
    --ring: hsl(160.99 94% 30%);
  }
}
