@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(161 69% 99%);
    --foreground: hsl(161 57% 5%);
    --card: hsl(161 69% 99%);
    --card-foreground: hsl(161 57% 5%);
    --popover: hsl(161 69% 99%);
    --popover-foreground: hsl(161 57% 5%);
    --primary: hsl(160.99 94% 30%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(158.01 4% 86%);
    --secondary-foreground: hsl(156 50% 25%);
    --muted: hsl(161 30% 88%);
    --muted-foreground: hsl(161 6% 33%);
    --accent: hsl(161 11% 86%);
    --accent-foreground: hsl(161.01 11% 26%);
    --destructive: hsl(3 85% 58%);
    --destructive-foreground: hsl(16 100% 95%);
    --border: hsl(158.01 17% 88%);
    --input: hsl(158.01 17% 88%);
    --ring: hsl(160.99 94% 30%);
    --radius: 0.5rem;
  }

  .dark:root {
    --background: hsl(223.81 0% 6%);
    --foreground: hsl(161.03 2% 73%);
    --card: hsl(223.81 0% 6%);
    --card-foreground: hsl(161.03 2% 73%);
    --popover: hsl(223.81 0% 6%);
    --popover-foreground: hsl(161.03 2% 73%);
    --primary: hsl(160.99 94% 30%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(148.84 17% 8%);
    --secondary-foreground: hsl(147.31 4% 53%);
    --muted: hsl(158.2 6% 11%);
    --muted-foreground: hsl(157.81 2% 36%);
    --accent: hsl(223.81 0% 11%);
    --accent-foreground: hsl(161.03 2% 73%);
    --destructive: hsl(6.35 85% 59%);
    --destructive-foreground: hsl(9.31 31% 90%);
    --border: hsl(223.81 0% 13%);
    --input: hsl(223.81 0% 7.2%);
    --ring: hsl(160.99 94% 30%);
  }
}
